nav ul li{
  background-color: #00ff00;
}
nav ul {
  list-style-type: none; /* none, disc, circle, square */
  margin:0;
  padding: 0;
}

nav li{
  border: 1px solid #000000;
  background-color: #0f0000;
  padding: 0px;
  margin: 10px 10px 0px 10px;
  width: 150px;
  color: white;
  display: inline-block;

}

nav li a{
  color:white;
  display:block;
  padding: 10px;
  text-decoration: none;
}

nav li a:hover{
  background-color: #000000

}
