body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
   /*  grid-template-rows: 600px; This is for the dummy columns, replace or delete */
   border-radius: 24px;
}
.vidpad{
  padding-top: 10px;
}


h1{
  font-family: sans-serif,Helvetica,Arial;
  font-weight: normal;
  font-size: 24px;
  text-align: justify;

  background: #00ff00;
  padding: 20px;
}
h2{

  font-family: 'Cinzel', serif;
  font-size: 32px;

}

header{
  grid-column: span 12;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(176,190,123,1) 48%, rgba(253,187,45,1) 100%);
border-radius: 24px;
}
/* style for dummy columns, delete and replace with your own CSS */



nav li a{color:black;
padding-left: 10px;
display: inline-block;
text-decoration: none;
grid-column: span 12;}


.dropbtn {
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(176,190,123,1) 48%, rgba(253,187,45,1) 100%);
border-radius: 24px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border:none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



li{
  list-style-type: none;
  display: inline;
  text-decoration: none;
  padding: 10px;
  font-family: 'Cinzel', serif;
}
nav a{
  transition: background-color 1.0s, width 2.0s, color 2.0s;
}
main{
  grid-column: span 12;
  text-align: center;
}

.imgbox{
width: 350px;
float:left;
border: 5px solid#202124;
padding: 0px;
margin: 20px;
background-color: #ffffff;
}
.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 350px;
  height: 160px;
  margin-right: 6px;

  background-color: #eee;
  border-radius: 6px;
}
